/* Common Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #2b81e4;
  --secondary-color: #eee;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of Common Styles */

/* Header */
.container {
  background-color: var(--secondary-color);
  margin: 3rem;
  box-shadow: 0 1rem 3rem var(--grey-color);
  overflow: hidden;
}

.header {
  width: 100%;
  height: calc(100vh - 6rem);
  background: linear-gradient(rgba(18,113,255,.5), rgba(18,113, 255, 0.3)), url(./images/header-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  perspective: 80rem;
}

.header-image {
  width: 35%;
  animation: image-float 150s infinite;
}

.header-text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
  text-shadow: 0 .3rem .3rem var(--light-grey-color);
}

.heading {
  font-size: 6rem;
  color: var(--white-color);
}

.header-paragraph {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--secondary-color);
  max-width: 60rem;
  margin: auto;
}

.logo {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.logo h1 {
  display: flex;
}

.logo h1 span {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: var(--white-color);
  width: 3rem;
  height: 3rem;
  margin: .5rem;
  border-radius: 50%;
}

.logo h1 span:nth-child(1) {
  /* animation-name: drop-letters;
  animation-duration: 5s;
  animation-delay: .2s;
  animation-iteration-count: infinite; */
  animation: drop-letters 5s .1s infinite;
}
.logo h1 span:nth-child(2) {
  animation: drop-letters 5s .2s infinite;
}
.logo h1 span:nth-child(3) {
  animation: drop-letters 5s .3s infinite;
}
.logo h1 span:nth-child(4) {
  animation: drop-letters 5s .4s infinite;
}
.logo h1 span:nth-child(5) {
  animation: drop-letters 5s .5s infinite;
}
.logo h1 span:nth-child(6) {
  animation: drop-letters 5s .6s infinite;
}
.logo h1 span:nth-child(7) {
  animation: drop-letters 5s .7s infinite;
}

@keyframes drop-letters {
  0% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-100%);
  }

  20% {
    transform: translateY(0);
  }

  100%  {
    transform: translateY(0);
  }
}

@keyframes image-float {
  0% {
    transform: translateZ(40rem);
    opacity: 1;
  }

  40% {
    transform: translateZ(-500rem) translateX(150rem);
    opacity: .8;
  }

  70% {
    transform: translateZ(-1300rem) translateX(800rem);
    opacity: .6;
  }

  80% {
    transform: translateZ(-50rem) translateX(100rem);
    opacity: .8;
  }

  100% {
    transform: translateZ(40rem);
    opacity: 1;
  }
}

/* End of Header */

/* Popular Tours */
.popular-tours {
  padding: 5rem 0 10rem 0;
}

.popular-tours-heading {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 6rem;
  color: var(--primary-color);
  text-shadow: 0 .1rem .2rem var(--primary-color);
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 30rem;
  position: relative;
  perspective: 150rem;
}

.card-img {
  width: 100%;
  border-radius: .5rem .5rem 0 0;
}

.front-side {
  text-align: center;
  background-color: var(--white-color);
  border-radius: .5rem;
  position: relative;
  z-index: 3;
  opacity: .95;
  transition: opacity .4s, transform .4s, box-shadow .4s;
}

.change > .front-side{
  transform: translateZ(-5rem) translateX(2rem);
  box-shadow: 0 2rem 3rem #777;
  opacity: 0.4;
  z-index: 0; 
}

.tour-name {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  right: 1rem;
  color: var(--white-color);
  text-shadow: 0 0 1rem #000;
}

.card-list {
  width: 80%;
  margin: auto;
  padding: 2rem 0 3rem 0;
}

.card-list-item {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--light-grey-color);
  margin: 2rem 0;
  border-bottom: .1rem solid var(--primary-color);
  padding-bottom: 1.5rem;
}

.back-side {
  position: absolute;
  top: 0;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  box-shadow: 0 3rem 2rem #777;
  flex-direction: column;
  transform: translateZ(-5rem) translateX(2rem);
  opacity: .6;
  transition: opacity .4s, transform .4s, box-shadow .4s;
}

.change > .back-side{
  transform: translateZ(0) translateX(0);
  box-shadow: 0 .5rem 2rem #aaa;
  opacity: .8; 
}

.tour-price {
  font-size: 5rem;
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 2rem;
}

.card-button {
  color: var(--primary-color);
  background-color: var(--white-color);
  border: none;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  letter-spacing: .2rem;
  border-radius: 5rem;
  cursor: pointer;
}

.nav-btn  {
  position: absolute;
  top: .5rem;
  left: .5rem;
  padding: .5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--light-grey-color);
  border-radius: .3rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .2rem;
  cursor: pointer;
}

/* End of Popular Tours */

/* Stories */

.stories {
  padding: 6rem 0;
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stories-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-bg {
  background-color: rgba(238, 238, 238, .75);
  padding: 4rem;
  margin: 4rem;
  width: 70%;
  box-shadow: 0 2rem 4rem rgba(51, 51, 51, 0.6);
  transform: skewX(20deg);
}

.story {
  transform: skewX(-20deg);
  display: flex;
}

.story-text {
  letter-spacing: .08rem;
}

.story-img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 3rem;
}

.story-heading {
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--grey-color);
  margin-bottom: 1rem;
}

.story-paragraph {
  font-size: 1.6rem;
  color: var(--light-grey-color);
}

.story-paragraph::first-letter {
  margin-left: 1rem;
}

/*End of Stories */